$dark-gray: #1e1d23;
$movie-card-background: #18171c;
.genres-grid-wrap {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.genres-wrap {
  width: 100%;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
}
.sort-wrap {
  padding-right: 20px;
  margin-left: auto;
}
.genres-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid-item {
  width: 12%;
  background: $movie-card-background;
  border-top: 2px solid lighten($movie-card-background, 6%);
  box-shadow: 0 36px 28px -20px rgba(#000, 0.20);
  margin: 15px;
}
.dropdown-sort {
  display: flex;
  justify-content: flex-end;
}
.dropdown-sort .dropdown-btn {
  background: $movie-card-background;
}
.show-more-btn {
  margin-top: 50px;
  width: 140px;
  height: 40px;
  border: none;
  color: #fff;
  cursor: pointer;
  background: $movie-card-background;
}
