$dark-gray: #1e1d23;
$movie-card-background: #18171c;
.genres-wrap {
  width: 100%;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
}

.genres-grid {
  width: 85%;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 1.2fr 1.2fr 1fr;
  grid-template-rows: 11vw repeat(5, 13vw) 11vw 6.5vw 6.5vw;
}

.grid-item {
  overflow: hidden;
  background: $dark-gray;
  background: $movie-card-background;
  border-top: 2px solid lighten($movie-card-background, 6%);
  box-shadow: 0 36px 28px -20px rgba(#000, 0.20);
}

.grid-item.type1 {
  grid-column: span 2;
  .movie-card-grid {
    display: flex;
    justify-content: space-around;
  }
  .movie-card-content-grid {
    width: 49%;
  }
  .movie-card-title-grid {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .movie-card-desc-grid {
    max-height: 94px;
    overflow: hidden;
  }
  .poster-wrap-grid {
    width: 50%;
  }
}
.grid-item.type2 {
  grid-column: span 2;
  border-top: none;
  grid-row: span 3;
  .movie-card-content-grid {
    max-height: 120px;
    overflow: hidden;
  }
}
.grid-item.type3 {
  grid-row: span 4;
  border-top: none;
  border-right: none;
}
