$main-color: #ff5500;
$bgtab-color: #fff;
.tabs-list {
    background: $bgtab-color;
    display: flex;
    flex-wrap: wrap;
}

.tab {
    height: 80px;
    margin-right: 10px;
    width: 110px;
    background: $bgtab-color;
}

.tab-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #1e1e1e;
    font-size: 18px;
}

.tab-link.active {
    font-weight: bold;
    border-bottom: 3px solid $main-color;
}