$bgtab-color: darken(#1e1d23, 2%);
$red: #ff0707;
.tabs-list {
  background: $bgtab-color;
  display: flex;
  flex-wrap: wrap;
}

.tab {
  height: 70px;
  width: 130px;
  background: $bgtab-color;
  padding-bottom: 3px;
}

.tab-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #3d3c41;
  transition: .2s;
  font-size: 18px;
  &:hover {
    background: #1e1d23;
    color: #fff;
  }
}

.tab-link.active {
  background: #1e1d23;
  color: #fff;
  border-bottom: 3px solid $red;
}
