$main-text-color: #131313;
$scrollbar-border-color: darken(#151c25, 3.5%);
$scrollbar-text-color: #fff;
.scrollbar {
  position: absolute;
  display: flex;
  width: 10000px;
  height: 80px;
  margin-top: 65px;
  cursor: w-resize;

  color: $main-text-color;
  font-size: 20px;
  border-bottom: 1px solid $scrollbar-border-color;
}

.scrollbar-wrap {
  width: 100%;
  position: relative;
  top: 60%;
}

.scrollbar-item {
  line-height: 80px;
  text-align: center;
  width: 435px;
  color: $scrollbar-text-color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
