$main-text-color: #131313;
$scrollbar-border-color: darken(#1e1d23, 2%);
$scrollbar-text-color: #3d3c41;
.scrollbar {
    position: absolute;
    display: flex;
    width: 10000px;
    height: 60px;
    margin-top: 85px;
    cursor: w-resize;
    color: $main-text-color;
    font-size: 20px;
    background: #27262c;
    border-bottom: 1px solid $scrollbar-border-color;
}

.scrollbar-wrap {
    width: 100%;
    position: relative;
    top: 65%;
}

.scrollbar-item {
    line-height: 60px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: 235px;
    text-overflow: ellipsis;
    color: $scrollbar-text-color;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}